* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* Responsive layout section: */
/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/* Header and footer: */

.footer,
.header {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* Google Maps: */

#map {
    padding: 15px;
    border-width: 1px;
    border-color: #CCCCCC;
    height: 600px;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
}

/* Search box: */

.css-input {
    padding: 5px;
    margin-left: 10px;
    width: 90%;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
}

.css-input:focus {
    outline: none;
}

/* Filtered Items on the left side: */

nav {
    float: none;
    clear: both;
    width: 100%;
    margin: 10px auto;
    background: #eee;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

nav li {
    float: none;
    width: 100%;
}

nav li a {
    display: block;
    width: 100%;
    padding: 10px;
    position: relative;
    text-decoration: none;
    color: #444;
    box-sizing: border-box;
}

nav li a:hover {
    border-bottom: 0px;
    color: #fff;
    background: #3498db;
}
